# AbstractSliderButton.canChangeValue - needed by BetterSlider to render the handle at the widget's own height
public net.minecraft.client.gui.components.AbstractSliderButton f_263772_ # canChangeValue
